$cellWidth: 80px;
$cellMargin: 20px;

html {
  height: 100%;
  position: relative;
}

body {
  margin: 0;
  padding: 0;
  background-color: #846c7b;
  height: 100%;
  text-align: center;
}

.field {
  display: inline-block;
  margin-top: 100px;
  position: relative;

  .gameover {
    position: absolute;
    opacity: 1;
    z-index: 200;
    font-size: 25px;
    padding: 5px 0;
    bottom: -60px;
    transform-origin: 50% 50%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    color: #fff;
  }

  .scores {
    position: absolute;
    top: -50px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 21px;
  }

  .cell-background {
    position: absolute;
    width: $cellWidth + $cellMargin;
    height: $cellWidth + $cellMargin;
    margin: -$cellMargin / 2;
    background-color: #846c7b;

    &:after {
      position: absolute;
      width: $cellWidth;
      height: $cellWidth;
      left: $cellMargin / 2;
      top: $cellMargin / 2;
      background-color: #6b5462;
      content: "";
    }
  }

  .cell {
    position: absolute;
    left: 0;
    top: 0;
    width: $cellWidth;
    height: $cellWidth;
    text-align: center;
    font-size: 30px;
    line-height: $cellWidth;
    transition: .1s transform linear;
    box-sizing: border-box;

    &.v0 {
      border-width: 0;
      transition: none;
    }

    &.v2 {
      background: #eee4da;
      box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
      z-index: 100;
    }

    &.v4 {
      background: #ede0c8;
      box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0), inset 0 0 0 1px rgba(255, 255, 255, 0);
      z-index: 101;
    }

    &.v8 {
      color: #f9f6f2;
      background: #f2b179;
      z-index: 102;
    }

    &.v16 {
      color: #f9f6f2;
      background: #f59563;
      z-index: 103;
    }

    &.v32 {
      color: #f9f6f2;
      background: #f67c5f;
      z-index: 104;
    }

    &.v64 {
      color: #f9f6f2;
      background: #f65e3b;
      z-index: 105;
    }

    &.v128 {
      color: #f9f6f2;
      background: #edcf72;
      box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.2381), inset 0 0 0 1px rgba(255, 255, 255, 0.14286);
      z-index: 106;
    }

    &.v256 {
      color: #f9f6f2;
      background: #edcc61;
      box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.31746), inset 0 0 0 1px rgba(255, 255, 255, 0.19048);
      z-index: 107;
    }

    &.v512 {
      color: #f9f6f2;
      background: #edc850;
      box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.39683), inset 0 0 0 1px rgba(255, 255, 255, 0.2381);
      z-index: 108;
    }

    &.v1024 {
      color: #f9f6f2;
      background: #edc53f;
      box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.47619), inset 0 0 0 1px rgba(255, 255, 255, 0.28571);
      z-index: 109;
    }

    &.v2048 {
      color: #f9f6f2;
      background: #edc22e;
      box-shadow: 0 0 30px 10px rgba(243, 215, 116, 0.55556), inset 0 0 0 1px rgba(255, 255, 255, 0.33333);
      z-index: 110;
    }

    &.raise {
      transform-origin: 50% 50%;
      transform: scale(0);
      transition: none;
      opacity: 0;
    }
  }
}